* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  color: #8d8d8d;
  line-height: 1.7em;
}

p,
a,
li,
span {
  font-size: 0.876rem;
}

code {
  font-family: "Poppins", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}
